<a href="https://colab.research.google.com/github/SachinScaler/Sep23AdvancePython/blob/main/Functional_Programming_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
tuple1 = (1,2,3,4,5)
out = (map(lambda x:x**2,tuple1))
print(out)

<map object at 0x78832fe76380>

In [3]:
next(out) # runtime

1

In [4]:
next(out)

4

In [5]:
next(out)

9

In [6]:
next(out)

16

In [7]:
next(out)

25

In [8]:
next(out)

StopIteration: ignored

In [9]:
out = list((map(lambda x:x**2,tuple1)))
print(out)

[1, 4, 9, 16, 25]

In [10]:
out = tuple((map(lambda x:x**2,tuple1)))
print(out)

(1, 4, 9, 16, 25)

In [11]:
out = set((map(lambda x:x**2,tuple1)))
print(out)

{1, 4, 9, 16, 25}

Filter

In [12]:
set1 = {1,2,3,4,5}
out = filter(lambda x:x%2==0,set1)
print(out)

<filter object at 0x78832fe80f40>

In [13]:
print(list(out))

[2, 4]

In [18]:
str1 = "sachin"
out = "".join((filter(lambda x:x in 'aeiou',str1)))
print(out)

ai

In [22]:
set1 = {1,2,3,4,5}
out = set(filter(lambda x:x-2,set1)) #true,false,true,true, true
print(out)

{1, 3, 4, 5}

Zip

In [26]:
list1 = [1,2,3,4,5]
tup1 = ("a","b","c","d","e")

out = set(zip(list1, tup1))
print(out)

{(4, 'd'), (2, 'b'), (5, 'e'), (3, 'c'), (1, 'a')}

In [30]:
list1 = [1]
iter1 = range(1,10000)

out = list(zip(list1, iter1))
print(out)

[(1, 1)]

In [31]:
list1 = ["A", "B", "C"] # length 3
list2 = [1,2,3,4] # length 4
list3 = ["!", "@", "#", "$", "%"] # length 5
list(zip(list1,list2 ,list3))

[('A', 1, '!'), ('B', 2, '@'), ('C', 3, '#')]

```

Lambda Functions is also called Anonymous

Lambda Functions can't be stored in Variable

Lambda function takes a set of inputs and returns one or more outputs

Lambda function is a way to achieve Functional programming in python
```

In [34]:
a,b=(lambda x,y: (x+y,x-y))(2,3)
print(a)
print(b)

5
-1

Reduce

In [35]:
list1 = ["s","a","c","h","i","n"]
"".join(list1)

'sachin'

In [37]:
from functools import reduce

list1 = ["s","a","c","h","i","n"]
reduce(lambda x,y:x+y, list1)

'sachin'

In [41]:
list1 = ["s","a","c","h","i","n"]
reduce(lambda x,y:x+'a', list1)

'saaaaa'

In [43]:
list1 = [1,2,3,4,5]
reduce(lambda x,y:x+y, list1,100)

115

In [45]:
from functools import reduce
reduce(lambda x,y: x*y, [3, 1, 4],10)

120

In [47]:
n =5
reduce(lambda x,y: x*y, range(1,n+1))

120

In [49]:
lists = [1,2]
res=list(map((lambda x:x*2),lists))
res

[2, 4]

In [ ]:
list1= [1,2]

### args and kwargs

In [60]:
def func(a,b,*args):
    print(args) # arbitary arg: Tuple of any size
    return a+b+sum(args)

func(1,2,3,4,5,6)

(3, 4, 5, 6)

21

In [62]:
def func(a,b,**kwargs):
    print(kwargs) # arbitary kwargs: dict of any size
    return kwargs

func(1,2,c=3,d=4,e=5,f=6)

{'c': 3, 'd': 4, 'e': 5, 'f': 6}

{'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [70]:
def func(name,rollno,*args,**kwargs):
    print(a)
    print(b)
    print(args)

    dict1= {"name":name,"rollno":rollno}

    print(kwargs)# arbitary kwargs: dict of any size
    dict1.update(kwargs)
    return dict1

func(1,2,"A","B",age=3,pancard=4)

5
-1
('A', 'B')
{'age': 3, 'pancard': 4}

{'name': 1, 'rollno': 2, 'age': 3, 'pancard': 4}

In [73]:
def sample_func(x, y, *args, **kwargs):
    return x, y, args, kwargs

len(sample_func(1, 2, 3, 4, a=5, b=6))

4

HW:
Convert given height to t-shirt size
```

If height <120 then S
If height < 150 and height >=120 then M
If height >= 150 then L

Given input list heights
```
heights = [145,155,170, 180,140,90,105]

In [74]:
s = {1, 2, 5, 7, 2, 9}
def f1(x):
    return x<6

m1 = filter(f1, s)
print(list(m1))

[1, 2, 5]

In [75]:
list1 = [1, 0, 1]
list2 = [0, 0, 1]
res = list(map(lambda x, y:  x == y, list1, list2))
print(res)

[False, True, True]

In [79]:
for i in range(len(list1)):
    x=list1[i]
    y=list2[i]
    print(x,y)

1 0
0 0
1 1

In [81]:
list1 = [1, 0, 1]
list2 = [0, 0, 1]
res = list(map(lambda x, y:  x == y, list1, list2))
res

[False, True, True]

Gens vs Funcs/Yeild vs Return

In [84]:
# function: Doesn't preserve state
def func1():
    return 1 # only this is returned and funtion is terminated
    return 2
    return 3
out=func1()
print(out)

1

In [85]:
out1=func1()
print(out1)

1

In [86]:

# generator: Preserving the state
def func2():
    yield 1
    yield 2
    yield 3

out=func2()
print(out)

<generator object func2 at 0x7883228dc350>

In [87]:
next(out)

1

In [88]:
next(out)

2

In [89]:
next(out)

3

In [90]:
next(out)

StopIteration: ignored

In [93]:
def custom_map(list1, func):
    for element in list1:
        yield func(element)
tuple1=(1,2,3,4,5)
out = custom_map(tuple1,lambda x:x**2)
print(tuple(out))

(1, 4, 9, 16, 25)

In [94]:
range(1,5)

range(1, 5)

In [97]:
list1 = [1,0,1,1,1]

dict1= {1:"Yes", 0:"No"}

list(map(lambda x:dict1[x],list1))

['Yes', 'No', 'Yes', 'Yes', 'Yes']

In [101]:
# pandas
# map as a method of pandas Series
import pandas as pd
list1 = pd.Series([1,0,1,1,1])

dict1= {1:"Yes", 0:"No"}

# transform the series with dictionary
print(list1.map(dict1))

0    Yes
1     No
2    Yes
3    Yes
4    Yes
dtype: object

In [109]:
def fib(n):
    if n<=1:
        return n
    elif n==2:
        return 1

    return fib(n-1)+ fib(n-2)

n=5
for i in range(n+1):
    print(fib(i))

0
1
1
2
3
5

In [ ]:
def check_prime(n):
    pass
    # returns True or False

def factorial(n):
    #return fact
    pass

#
map(lambda x: factorial(x) if check_prime else x,  map(fib, range(1,n+1))