<a href="https://colab.research.google.com/github/SachinScaler/Sep23AdvancePython/blob/main/Problem_Solving_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
class A:
   def __one(self):
       return self.two() # here which two will be called: A or B:
       # self.two--> obj.two()
   def two(self):
       return 'A'
class B(A):
   def two(self):
       return 'B'
obj= B()
print(obj.__one())

AttributeError: ignored

In [11]:
class A:
    def __init__(self):
        self.multiply(15) # obj.multiply(15)
        print(self.i)

    def multiply(self, i):
        self.i = 4 * i

class B(A):
    def __init__(self):
        super().__init__()

    def multiply(self, i):
        self.i = 2 * i; # obj.i = 2*15

obj = B()

30

In [12]:
1+2

3

In [13]:
"1"+"2"

'12'

In [41]:
class A:

  def __init__(self, x, y):

    self.x = x
    self.y = y

   # changes behaviour of print statement
  def __str__(self):

     return f"x->{self.x}    y->{self.y}"


  # ==
  def __eq__(self, other):

     return self.x * self.y == other.x * other.y

  def __add__(self, other):
    return self.x+other.x, self.y+other.y

obj1 = A(9, "8")
print(obj1)

x->9    y->8

In [42]:
obj2 = A(2, "10")
#obj1==obj2 # same memory location or not

In [43]:
out = obj1+obj2 # self + other
out

(11, '810')

In [ ]:
__new__

In [50]:
class Demo:
    def __new__(self):
        self.__init__(self)
        print("Demo's __new__() invoked")
        # return obj of Class Demo

    def __init__(self):
        print("Demo's __init__() invoked")

class Derived_Demo(Demo):
    def __new__(self):
        print("Derived_Demo's __new__() invoked") # line 1

    def __init__(self):
        print("Derived_Demo's __init__() invoked") # line 2

def main():
    #obj1 = Derived_Demo()
    obj2 = Demo()

main()

Demo's __init__() invoked
Demo's __new__() invoked

In [ ]:
# __new__,__init__

In [45]:
class A:

    def __init__(self):
        pass

a = A()
dir(a)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [46]:
class A(object):
    pass

a = A()
dir(a)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [ ]:
""

In [52]:
from functools import reduce

reduce(lambda x,y:x+y,[1,2,3], 100)

106

In [2]:
from functools import reduce

reduce(lambda x,y:x+y,[1,2,3],10)

16

In [53]:
P = [set()]
P = P+[sub|{1} for sub in P]
P

[set(), {1}]

In [54]:
P = P+[sub|{2} for sub in P]
P

[set(), {1}, {2}, {1, 2}]

In [55]:
P = P+[sub|{3} for sub in P]
P

[set(), {1}, {2}, {1, 2}, {3}, {1, 3}, {2, 3}, {1, 2, 3}]

In [ ]:
array = [ [1, [ [ 2 ] ], [ [ [ 3 ] ] ], [ [ 4 ], 5 ] ]]
result = lambda x: sum(map(result, x), [ ] ) if isinstance(x, list) else [x]
print(result(array))

In [57]:
x = [ [1, [ [ 2 ] ], [ [ [ 3 ] ] ], [ [ 4 ], 5 ] ]]


#
x = x[0] #[1, [ [ 2 ] ], [ [ [ 3 ] ] ], [ [ 4 ], 5 ] ]
x[0]

1

In [ ]:
([1],2,

In [58]:
sum([[1]],[])

[1]

In [ ]:
sum([], []) #gives => []
sum([1,2], []) # => TypeError
sum([], [1,2]) # gives => [1,2]

In [59]:
sum([], [])

[]

In [62]:
sum([[1,2]], []) # nested list: it reduces one level at a time

[1, 2]

In [63]:
sum([], [1,2]) # how?

[1, 2]

In [64]:
sum([1],[2])

TypeError: ignored

In [65]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.