<a href="https://colab.research.google.com/github/SachinScaler/Sep23AdvancePython/blob/main/Problem_Solving_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
type([])==list

True

In [2]:
isinstance([], list) #oop: Ineheritance

True

In [4]:
list1 = [1 ,2 ,3, 4, 5]

new_list=[]
for element in list1:
    new_list.append(element**2)
new_list

[1, 4, 9, 16, 25]

In [5]:
new_list = [element**2 for element in list1]
new_list

[1, 4, 9, 16, 25]

# filtering

In [16]:
new_list=[]
for element in list1:
    if element%2==0:
        new_list.append(element**2)
new_list

[4, 16]

In [ ]:
new_list = [element**2 for element in list1 if element%2==0]
new_list

In [13]:
### Conditional output if
list1 = [1 ,2 ,3, 4, 5]

new_list=[]
for element in list1:
    if element%2==0:
        new_list.append(element**3)
    else:
        new_list.append(element)
new_list

[1, 8, 3, 64, 5]

In [15]:
new_list = [element**3 if element%2==0 else element for element in list1 ]
new_list

[1, 8, 3, 64, 5]

In [17]:
new_list=[]
for element in list1:
    if element%2==0:
        new_list.append(element**2)
    elif element%3==0:
        new_list.append(element**3)
    else:
        new_list.append(element)


new_list

[1, 4, 27, 16, 5]

In [19]:
new_list = [element**2 if element%2==0 else element**3 if  element%3==0  else element for element in list1 ]
new_list

[1, 4, 27, 16, 5]

In [6]:
new_list = {element**2 for element in list1}
new_list

{1, 4, 9, 16, 25}

In [7]:
new_list = {element:element**2 for element in list1}
new_list

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [9]:
new_list = (element**2 for element in list1)
new_list

In [11]:
for i in new_list:
    print(i)

1
4
9
16
25

In [20]:
list1 = [ 1,2,3,4,0]
# 1 and 2 and 3 and 4 and 0
all(list1)

False

In [22]:
list1 = [[],"",0]
# 1 or 2 or 3 or 4 or 0-> True
any(list1)

False

In [ ]:
# def func():
#     return value

# def func():
#     yield value

In [23]:
##Functional Programming 2
### Higher Order Function:
 #### Decorator

In [ ]:
arr = [[1,2,3],[10,11,12],[4,5,6],[13,14,15],[10,1,2]]
print(max (arr, key=sum ) )

In [25]:
arr = [[1,2,3],
        [10,-1,12],
         [4,5,6],
          [13,14,15],
           [10,1,2]]
print(sorted(arr))

[[1, 2, 3], [4, 5, 6], [10, -1, 12], [10, 1, 2], [13, 14, 15]]

In [27]:
def myfunc(list1):
    return list1[1]
print(sorted(arr, key=myfunc, reverse =False))

[[10, -1, 12], [10, 1, 2], [1, 2, 3], [4, 5, 6], [13, 14, 15]]

In [29]:
print(sorted(arr, key=lambda list1:list1[1]))

[[10, -1, 12], [10, 1, 2], [1, 2, 3], [4, 5, 6], [13, 14, 15]]

In [32]:
print(sorted(arr, key=sum))

[[1, 2, 3], [10, 1, 2], [4, 5, 6], [10, -1, 12], [13, 14, 15]]

In [31]:
sum([1,2,3])

6

In [ ]:

result = sum(n for _, n in list1)

In [33]:
a,b= 1,2

In [36]:
list1 = [[1,2], [12,13],[22,23]]
for _,n in list1:
    print(n)

2
13
23