<a href="https://colab.research.google.com/github/SachinScaler/Sep23AdvancePython/blob/main/Python_Refresher_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = []
a = ()
print(type(a))

<class 'tuple'>

In [2]:
a = (1)
print(type(a))

<class 'int'>

In [3]:
a = (1,)
print(type(a))

<class 'tuple'>

In [6]:
# object of tuple class
a = tuple()
print(type(a))

<class 'tuple'>

In [9]:
tup = (1,2,3,4)
tup.append(5)

AttributeError: ignored

In [10]:
print(id(tup))
tup = tup + (5,)
print(id(tup))

139543319012640
139544209984224
(1, 2, 3, 4, 5)

In [12]:
list1=[1,2]
print(id(list1))
list1.extend([1,]) # mutating list1
print(list1)
print(id(list1))

139543320262976
[1, 2, 1]
139543320262976

In [13]:
list1=[1,2]
print(id(list1))
list1 = list1+[1,] # creating new list by using old val
print(id(list1))

139542961748736
139543803810752

### Why are Tuples Faster than List

In [14]:
tup[0]=10

TypeError: ignored

In [15]:
sorted(tup) # if instance(tup,tuple): tup = tuple(list)

[1, 2, 3, 4, 5]

### PACKING AND UNPACKING

In [16]:
a=10
b=20
c=30

# packing
my_var = a,b,c
print(my_var)

(10, 20, 30)

In [17]:
my_var = 1,2,3
print(my_var)

(1, 2, 3)

In [19]:
def func():
    a=10
    b=20
    c=a+b
    d=a-b
    return c,d
func()

(30, -10)

In [20]:
#unpacking
my_var

(1, 2, 3)

In [21]:
a,b,c = my_var
print(a)

1

In [22]:
print(b)

2

In [23]:
a,b = [1,2]
print(a)
print(b)

1
2

In [24]:
a,b,c = [1,2]
print(a)
print(b)

ValueError: ignored

In [25]:
# swap values without any extra var
a=100
b=200
b,a=a,b
print(b)

100

In [26]:
print(a)

200

Sets:

In [27]:
# empty
set1 = {}
print(type(set1))

<class 'dict'>

In [29]:
set1 = set()
print(type(set1))

<class 'set'>

In [31]:
set1 = {1,2,3,4}
print(type(set1))

<class 'set'>

In [32]:
set1 = {1,2,{3,4}}
print(type(set1))

TypeError: ignored

In [33]:
set1 = {1,2,[3,4]}
print(type(set1))

TypeError: ignored

In [34]:
set1 = {1,2,(3,4)}
print(type(set1))

<class 'set'>

In [35]:
set1 = {1,2,3,1} # last occurence will be kept
print(set1)

{1, 2, 3}

In [36]:
set1 = {3,1,2,3,1}
for i in set1:
    print(i)

1
2
3

In [37]:
for i in set1:
    print(i)

1
2
3

In [38]:
set1[0] # non indexable

TypeError: ignored

In [45]:
# add element
s1 = {1,2}
s1.add("Hello")
print(s1)

{1, 2, 'Hello'}

In [46]:
s1.add("Hello")
print(s1)

{1, 2, 'Hello'}

In [47]:
s1.remove("Hello")
print(s1)

{1, 2}

In [48]:
s1.update({1,2,4})
print(s1)

{1, 2, 4}

Set Ops:

In [49]:
a = {2,3}
b = {1,4,3}

In [52]:
# intersection
print(a & b)
print(a.intersection(b))

{3}
{3}

In [53]:
# union
print(a | b)
print(a.union(b))

{1, 2, 3, 4}
{1, 2, 3, 4}

In [54]:
# difference
print(a - b)
print(a.difference(b))

{2}
{2}

In [55]:
print(b-a)

{1, 4}

In [56]:
# symmetric difference
print(a ^ b) # a & b - a|b
print(a.symmetric_difference(b))

{1, 2, 4}
{1, 2, 4}

In [57]:
print(b ^ a)

{1, 2, 4}

Try to Create asymmetric function

In [59]:
dict1 = {}
print(type(dict1))

<class 'dict'>

In [60]:
dict1[1]= 100
dict1["1"]= 200

print(dict1)

{1: 100, '1': 200}

In [61]:
dict1[1]= 10
print(dict1)

{1: 10, '1': 200}

In [68]:
dict1 = {"a":1,"b":2,"c":3}
# method1
for k in dict1:
    print("Key:",k,"Value:",dict1[k])

Key: a Value: 1
Key: b Value: 2
Key: c Value: 3

In [70]:
# method2
for k,v in dict1.items():
    print("Key:",k,"Value:",v)

Key: a Value: 1
Key: b Value: 2
Key: c Value: 3

In [71]:
dict1.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [72]:

dict1 = {"a":1,"b":2,"c":3}
"a" in dict1

True

In [73]:
2 in dict1

False

Strings:
- immutable
- index ordered

In [74]:
strings = "12"

In [75]:
string = str()

In [76]:
str1 = "1 2 3 4"
str1= list(str1)
print(str1)

['1', ' ', '2', ' ', '3', ' ', '4']

In [78]:
str1 = "1 2 3 4"
str1= str1.split()
print(str1)

['1', '2', '3', '4']

In [80]:
str1 = "1 2 3 4"
list1= str1.split(" ")
print(list1)

['1', '2', '3', '4']

In [81]:
str1 =  " ".join(list1)
print(str1)

1 2 3 4

In [82]:
str1 =  ", ".join(list1)
print(str1)

1, 2, 3, 4

LCM

In [85]:
arr = [13, 6, 17, 18, 19, 20, 37]

# lcm(a,b)=a*b/gcd(a,b)

#10,20
def gcd(a,b):
    for i in range(min(a,b),0,-1):
        if a%i==0 and b%i==0:
            return i
gcd(10,20)

a=arr[0]
for b in arr[1:]:
    lcm_b = (a*b)/gcd(a,b)
    a=lcm_b
print(int(a))

27965340

In [ ]:
set1 = {1,3 , {4,5}} # members of set should be hashable(immutables)

In [86]:
dict1 = {{1:"Name"}:"Sachin"} # keys must be hashable(immutable)

TypeError: ignored

In [88]:
dict1 = {1:{"Name":"Sachin"}}
print(dict1)

{1: {'Name': 'Sachin'}}

###
```
7
4  8
2  5  9
1  3  6  10
```

In [111]:
n = 4
nums_to_fill= sum(range(1,n+1))
nums_to_fill=[i for i in range(1, nums_to_fill+1)]
nums_to_fill

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [112]:
grid = [[0]*n for i in range(n)]
grid

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [113]:
grid[0][0]="Hello"
grid

[['Hello', 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

### Homework: `[[0]*n]*n` why is this not valid way of creating 2d matrix

In [114]:
i = 0
count = 0
end = len(nums_to_fill)
while i<n:
    diag=[]
    j = count
    while j<n:
        diag.append([j,i])
        j+=1
        i+=1
    if count==n:
        break
    else:
        i=0
        count+=1
        print(diag)
        val_to_fill=nums_to_fill[end-len(diag):end]
        print("val_to_fill",val_to_fill)
        end = end-len(diag)

        for k in range(len(val_to_fill)):
            grid[diag[k][0]][diag[k][1]]=val_to_fill[k]
grid

[[0, 0], [1, 1], [2, 2], [3, 3]]
val_to_fill [7, 8, 9, 10]
[[1, 0], [2, 1], [3, 2]]
val_to_fill [4, 5, 6]
[[2, 0], [3, 1]]
val_to_fill [2, 3]
[[3, 0]]
val_to_fill [1]

[[7, 0, 0, 0], [4, 8, 0, 0], [2, 5, 9, 0], [1, 3, 6, 10]]

In [115]:
for i in range(len(grid[0])):
    for j in range(len(grid)):
        if grid[i][j]!=0:
            print(grid[i][j],end=" ")
    print("")

7
4 8
2 5 9
1 3 6 10