<a href="https://colab.research.google.com/github/SachinScaler/Sep23AdvancePython/blob/main/Time_and_Space_Complexity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def foo(n):
    x=1 # c1
    y=2 # c2
    z=3 # c3
    print(x+y+z) # c4

foo(11)
# constant: c1+c2+c3+c4==>c--> c*n**0

o(1): Constant time
- In Constant time algos, the no ops is indepedent of input

In [2]:
# example 2
def foo(n):
    for i in range(n):
        print(i)
        break

foo(12)
# o(n): Yes
# o(1): No

0

In [ ]:
# example 2
def foo(n):
    for i in range(n): #n
        print(i) # n

foo(12)
# n+n+c--> 2n+c

o(n): Linear Time Complexity

In [ ]:
def foo(n):
    for i in range(n): # n
        for j in range(n): # n*n
            print("Hello") # n*n

foo(12)

o(n^2): Quadratic

In [ ]:
# quiz
n = 10
for i in range(n):
  for j in range(n):
    for k in range(n):
      print("Hello")

In [4]:
n = 10
while n>= 1:
  print(n)
  n-=1

10
9
8
7
6
5
4
3
2
1

In [5]:
n = 10
i = "hello"
while n>= 1:
  print(i)
  n-=1

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:

for i in range(n):
  print(i)
for j in range(n):
  print(j)

for k in range(n):
  print(k)
# eq = n+n+n--> 3n
# TC: o(n)
# sc:o(1)

In [6]:
def factorial(x):
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))

factorial(5)
# TC: o(n)
# SC: o(n)

120

In [ ]:
def func(n):
    list1 = []
    for i in range(n): # n
        list1.append(i)
        for k in range(i): #0,1,2,3...n-1
            print(i*k)

    return list1

func(4)

In [ ]:
def func(n):
    list1 = [] # 1
    for i in range(n): # n
        list1.append(i) # n
        for k in range(i): #0,1,2,3...n-1
            print(i*k) # +1+2+3+......+n-1+n--> (n-1)*(n)/2--> a*o(n^2)+b(n)+c

    return list1

func(4)
# SC: o(n)
# TC: o(n^2)

In [16]:
def func(n):
    while n>0:
        n=n//2
        print("Hello")
n= 4
func(n)
# log(n)+1--> log(2^4)+1-> 4+1

Hello
Hello

In [ ]:
# log(2)=2
# log(4) = 2
# log(2^3)= 3

Linear Search vs Binary Search:

# Searching:
- is element present
- where is it present

In [19]:
list1 = [1,2,3,4,5,6]
list2= ["Abc","Dba","Ijq"]

Target= 4

### Linear Search:

In [22]:
def linear_search(list1, target):
    for i in range(len(list1)):
        if list1[i]==target:
            return i
    return "Element Not Found"

linear_search(list1, 10)
# sorting is not mandatory
# TC:   O(n),  bestCase: o(1)
# SC: o(1)

'Element Not Found'

### 1,00,00,000
### 1 Crore ops

In [23]:
# Binary Search
def BinarySearch(list1,target):
    s, e= 0, len(list1)-1
    while s<=e:
        mid_point = (i+j)//2
        if list1[mid_point]>target:
            e=mid_point-1
        elif list1[mid_point]<target:
            s = mid_point+1
        else:
            return mid_point

    return "Target Not Found"


# TC: O(logn)

In [24]:
import math
math.log(10000000,2)

23.25349666421154

# Extra Questions
- test Binary Search string
- Apply Binary Search on 2D Matrix

In [ ]:
list1 = [[1,2,3],
         [11,11,15],
         [16,17,200]]

# nxm

In [ ]:
for i in range((n)):
    for j in range(0,n,n//2):
            print(j)
for k in range((n)):
        print(k)
# O(N)

In [29]:
n = 1000
for j in range(0,n,n//2):
            print(j)

0
500

In [ ]:
# nlogn + log(n)